.container-fluid{
	margin: 0;
	padding: 0;
}

.navbar{
	border-radius: 0px;
	background-color: rgba(0,0,0,0.8);
}

.navbar-brand{
  font-size: 35px;
  color: white;
  padding-left: 25px;
}

.navbar-brand:hover{
	color: white;
}

.nav{
	margin: 0;
	padding: 0;
}

.navbar-nav{
  font-size: 25px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.navbar-toggle{
	border: 2px solid white;
	margin-right: 25px;
}

.icon-bar{
	background-color: white;
}


.main-title{
  margin-bottom: 15px;
  text-align: center;
  color: #ff4532;
  font-size: 50px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
}

li{
	box-sizing: border-box;
	width: 100%;
}

.menu-item{
	padding: 0;
	margin: 0;
	width: 100%;
	background-color: white;
	border-bottom: 1px solid black;
	color: black;
	display: block;
}

.menu-item:hover{
	background-color: rgba(0,0,0,0.9);
	color: rgba(0,0,0,0.4);
}



.row{
	margin: 20px;
}

.content-box{
	margin: 20px;
	width: auto;
	height: auto;
	color: black;
	background-color: rgba(0,0,0,0.2);
	font-family: "Comic Sans MS", cursive, sans-serif;
	padding: 20px;
}

.item-name{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

#top{

}
Footer
© 2022 GitHub, 
	
	div {
		position: relative;
		background-color: gray;
		border: 1px solid black;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: auto;
	}
	.s1 {
		float: right;
		width: 100px;
		padding: 5px;
		margin: 0px;
		border: 3px solid black;
		text-align: center;
		font-size: 125%;
		font-weight: bold;
		background-color: tomato;
		
	}
	.s2 {
		float: right;
		color: black;
		width: 100px;
		padding: 5px;
		margin: 0px;
		border: 3px solid black;
		text-align: center;
		font-size: 125%;
		font-weight: bold;
		background-color: red;
		
	}
	.s1 {
		color: black;
		float: right;
		width: 100px;
		padding: 5px;
		margin: 0px;
		border: 3px solid black;
		text-align: center;
		font-size: 125%;
		font-weight: bold;
		background-color: yellow;
		
	}
	.content {
		padding: 5px;
		border: none;
		background-color: gray;
		font-family: Helvetica;
		color: black;
		margin: 0px;
		height: 200px;
		overflow: auto;
    clear: right;
	}
	
	.row {
		width: 90%;
	}
	
	/*desktop version*/
	@media (min-width: 992px){
		.column-lg-4 {
			float: left;
			width: 33.33%;
		}
	}
	/*tablet version*/
	@media (min-width: 768px) and (max-width: 991px){
		.colmn-md-6 {
			float: left;
			width: 50%;
			margin-left: auto;
			margin-right: auto;
		}
		.colmn-md-12 {
			float: left;
			width: 100%;
			margin-left: auto;
			margin-right: auto;
		}
	}
	/*mobile version*/
	@media (max-width: 767px){
		.colmn-sm-12 {
			float: left;
			width: 100%;
		}
	}
</style>*/